* {
   box-sizing: border-box; 
}

:root {
    --w: white;
    --g: rgb(144, 199, 130);
    --d: rgb(15, 54, 77);
    --bv: blueviolet;
    --px: 15px;
}

body {
    margin: 0;
    padding: 0;
    font-family: '8BITWONDERNominal', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 2px 5px 5px #000;
    color: var(--w);
    line-height: 2;
    font-size: larger;
    background-image: url(./images/background/city.png);
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3 {
    margin: 0;
}

header {
    padding: var(--px) 0 var(--px) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(251, 255, 0), rgb(44, 206, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--second);
    margin: 10px;
    background-image: linear-gradient(180deg, var(--g) 0%, var(--bv) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.5rem;
}
  
nav a:last-child {
    margin-right: 0;
}
  
nav a:hover {
    background-size: 100% 100%;
}


.sloppy-banner {
    background-color: var(--d);
    background-image: url(./images/background/cig.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    height: 32vh;
    color: var(--w);
    padding: 1% 2%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.sloppy-banner {
    flex: 0 0 90%;
}

.sloppy-banner h2 {
    background-color: rgb(211, 127, 141);
    color: var(--w);
    padding: 5px 2px;
    font-size: 2rem;
    line-height: 1;
    display: inline-block;
  }

.wrap {
    display: inline-flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    flex: 1 0 15%;
    min-width: 7em;
    text-align: right;
    padding-right: var(--px);
    border-right: 4px solid var(--g);
    font-size: 4vw;
    line-height: 1;
}

.twerk {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.twerk div {
    flex: 0 0 77%;
}

.twerk p {
    display: flex;
    align-items: flex-start;
    text-align:left;
    margin-bottom: 20px;
    padding-left: var(--px);
}

.art {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: var(--px);
}

.flexy {
    border: 5px solid var(--g);
    background-color: var(--d);
    color: var(--w);
    min-height: 300px;
    max-height: 400px;
    flex-basis: calc(50% - 1em);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 0 20px 0;
    margin: .25em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 100%;
    transition: all 0.5s;
    font-size: 0 rem;
}

.flexy:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flexy:hover {
    background-color: var(--bv);
}

.bloody {
    background-image: url(./images/paintings/projecthomescreen.png);
}

.space {
    background-image: url(./images/paintings/space.jpg);
}

.charcoal {
    background-image: url(./images/paintings/charcoal.jpg);
}

.shooter {
    background-image: url(./images/paintings/shooter.jpg);
}

.cali {
    background-image: url(./images/paintings/cali.jpg);
}

.iconic div {
    display: flex;
    justify-content: center;
    margin-right: 8rem;
}

.iconic img {
    height: 50px;
    max-width: 50px;
    align-items: flex-end;
}

.iconic address a {
    color: var(--Third);
    padding: 5px;
    text-decoration: none;
    font-style: normal;
    margin: 0 0.2rem 0.1rem;
}

@media screen and (max-width: 1000px) {
    header {
      padding: 0 0 var(--px) 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .iconic > h2 
    .iconic > div {
    flex: 0 0 100%;
    }
  
    .iconic > h2 {
    border-right: none;
    border-bottom: 4px solid var(--g);
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vh;
    }
}

@media screen and (max-width: 768px) {
   .flexy, .flexy:first-child {
    flex-basis: 100%;
    }
    
    .flexy:first-child{
      min-height: 150px;
    }
    
    .sloppy-banner {
      justify-content: center;
      text-align: center;
    }
  
    .iconic {
      flex-direction: column;
      align-items: flex-start;
    }
  }