* {
   box-sizing: border-box; 
}


body {
    margin: 0;
    padding: 0;
    font-family: '8BITWONDERNominal', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 2px 5px 5px #000;
    color: white;
    line-height: 2;
    font-size: larger;
    background-image: url(./images/background/city.png);
    background-size: cover;
    background-attachment: fixed;
}


header {
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(251, 255, 0), rgb(44, 206, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.sloppy-banner {
    background-color: rgb(15, 54, 77);
    background-image: url(./images/background/cig.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    height: 32vh;
    color: rgba(238,238,247,1);
    padding: 1% 2%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.sloppy-banner {
    flex: 0 0 90%;
}

.sloppy-banner h2 {
    background-color: rgb(211, 127, 141);
    color: white;
    padding: 5px 2px;
    font-size: 2rem;
    line-height: 1;
    display: inline-block;
  }

h1, h2, h3 {
    margin: 0;
}

.wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.twerk {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.twerk h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid rgb(144, 199, 130);
    font-size: 4vw;
    line-height: 1.1;
}

.twerk div {
    flex: 0 0 77%;
}

.twerk p {
    margin-bottom: 20px;
}

.art {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexy img {
    width: 100%;
    height:auto;
}


.flexy {
    position: relative;
    width: 50%;
}

.flexy {
    border: 5px solid rgb(144, 199, 130);
    background-color: rgb(15, 54, 77);
    color: white;
    max-height: 120px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 120%;
    transition: all 0.5s;
    font-size: 0.rem;
}

.flexy:first-child {
    min-height: 200px;
    min-width: 200px;
    flex-basis: 100%;
}

.flexy:hover {
    background-color: blueviolet;
}

.flexy:visited {
    background-color: rgb(144, 199, 130);
}

.space {
    background-image: url(./images/paintings/space.jpg);
}

.charcoal {
    background-image: url(./images/paintings/charcoal.jpg);
}

.shooter {
    background-image: url(./images/paintings/shooter.jpg);
}

.cali {
    background-image: url(./images/paintings/cali.jpg);
}

.contactos img {
    height: 50px;
    max-width: 50px;
    align-items: flex-end;
}

.contactos address a {
    color: var(--Third);
    padding: 5px;
    text-decoration: none;
    font-style: normal;
    margin: 0 0.2rem 0.1rem;
}

@media screen and (max-width: 1000px) {
    header {
      padding: 0 0 15px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .contactos > h2 
    .contactos > div {
    flex: 0 0 100%;
    }
  
    .contactos > h2 {
    border-right: none;
    border-bottom: 4px solid var(--First);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
    }
}

@media screen and (max-width: 768px) {
   .flexy, .flexy:first-child {
    flex-basis: 100%;
    }
    
    .flexy:first-child{
      min-height: 150px;
    }
    
    .sloppy-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contactos .iconic {
      flex-direction: column;
      align-items: flex-start;
    }
  }